# themachinethatgoesping

# basic python
numpy
tqdm
xarray
#pandas

#plotting
matplotlib
ipympl
localtileserver

#map plotting
ipyleaflet
leafmap
rioxarray
#gdal
utm

#utilities
jupyterlab
nbmake
pytest
